@import "tailwindcss";

body {
  margin: 0;
  background-color: #020617;
  color: white;
}

/* Barra de desplazamiento estilo "Gamer / Dark Mode" */
::-webkit-scrollbar {
  height: 12px;
}
::-webkit-scrollbar-track {
  background: #0f172a; 
  border-radius: 8px;
}
::-webkit-scrollbar-thumb {
  background: #334155; 
  border-radius: 8px;
  border: 2px solid #0f172a;
}
::-webkit-scrollbar-thumb:hover {
  background: #475569; 
}